#7285F2 #729DF2 #BF8F54 #D9A491 #A62E2E #2C735F #4BA68C #A67C49 #BF8D7A div {
	color: #7285f2;
	color: #729df2;
	color: #bf8f54;
	color: #d9a491;
	color: #d9a491;
	color: #a62e2e;
}
div {
	color: #c1ced9;
	color: #2c735f;
	color: #4ba68c;
	color: #a67c49;
	color: #bf8d7a;
	color: #a62e2e;
}
