/* html,
body {
	max-width: 100%;
	overflow-x: hidden;
} */

/* body {
	background-color: rgb(133, 133, 133);
} */
html {
	scroll-behavior: smooth;
}

#main_body,
.team {
	background-color: rgb(231, 231, 231);
}
.carousel {
	position: fixed;
	width: 100%;
	z-index: -100;
	pointer-events: all;
}

.header_bg {
	height: 90vh;
	object-fit: cover;
	overflow: hidden;
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;
}
.transparent {
	background-image: none;
	background-color: rgba(36, 36, 36, 0.575);
	backdrop-filter: blur(10px);
}

.empty {
	height: 90vh;
	z-index: 0;
	pointer-events: all;
}
.navbar .container-fluid .navbar-brand img {
	height: 55px;
	padding: 0 0;
	margin: 0 0;
}

main {
	background-color: white;
	z-index: 200;
}
.empty h1 {
	font-size: 40pt;
	padding-top: 20vw;
	padding-left: 5vw;
}

#main_body .container#about .row h1 {
	font-size: 40pt;
	padding-top: 2em;
	text-align: center;
}
/*****************************/
#main_body .row {
	padding-left: 2vw;
	max-width: 100%;
}
/*****************************/
.container#about {
	padding-bottom: 5vh;
	padding-top: 0;
}
button.header {
	font-size: large;
	transition: all 0.5s ease;
	color: #fff;
	border: 3px solid white;
	text-align: center;
	line-height: 1;
	background-color: transparent;
	padding: 10px;
	outline: none;
	border-radius: 4px;
	z-index: auto;
}
button.header:hover {
	color: #001f3f;
	background-color: #fff;
}
/* .container {
	display: inline-flexbox;
	justify-content: space-around;
	flex-wrap: nowrap;
	width: 100%;
	padding-right: 0;
	margin-right: 0;
	object-fit: fill;
	max-width: 100%;
	overflow-x: hidden;
} */

footer {
	z-index: +50;
	position: relative;
	background: linear-gradient(rgba(2, 2, 2, 0.609), rgba(0, 0, 0, 0.602)),
		url("../images/IMG_20201025_164026.jpg") fixed center center;
	background-size: fill;
}

.container .row > div > img {
	height: 23em;
}
.container .row > div > img#about {
	height: 35em;
}
.col-lg-4 img {
	padding: 4em 0;
}
.col-lg-4 {
	text-align: center;
}
#circular_photos {
	padding: 5em 0;
}
#links li {
	padding: 0;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.col-lg-8 {
		padding: 0;
	}
	#links li {
		padding: 0;
	}

	/* .col-lg-4 img {
		padding: 1vw 0;
	} */
	/* .col-lg-8 .lead {
		margin: 0 0;
	} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.col-lg-8 {
		padding: 0;
	}
	#links li {
		padding: 1em 0;
	}

	/* .col-lg-4 img {
		padding: 1vw 0;
	} */
	/* .col-lg-8 .lead {
		margin: 0 0;
	} */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.col-lg-8 {
		padding: 5em 0 0 8em;
		margin-right: 0;

		/* padding-right: 0; */
	}
	#links li {
		padding: 1em 0;
	}

	/* .col-lg-4 img {
		padding: 5vw 0;
	} */
	/* .col-lg-8 .lead {
		margin: 0 0 0 10vw;
	} */
}

button.main {
	font-size: large;
	transition: all 0.5s ease;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 0);
	text-align: center;
	line-height: 1;
	background-color: transparent;
	padding: 10px;
	outline: none;
	border-radius: 4px;
	z-index: auto;
}
button.main:hover {
	color: #ffffff;
	background-color: rgb(0, 0, 0);
}
.col-lg-8 h3 {
	padding: initial;
}

.bridge {
	background: linear-gradient(rgba(2, 2, 2, 0.555), rgba(0, 0, 0, 0.65)),
		url("../images/The-Office-Dunder-Mifflin-1366x768.jpg") fixed center
			center;
	background-size: cover;
	padding: 100px 0;
}

.bridge h3,
.bridge p {
	color: #fff;
}

/* .wrapper {
	max-width: 100%;
	overflow-x: hidden;
} */
/* .wrapper #main_body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
} */
/* 
.row .col-sm-6 img {
	width: 60vh;
	padding: 2vh 3vw;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.row .col-sm-6 img {
		width: 60vh;
		padding: 2vh 3vw;
		text-align: center;
	}
}


@media only screen and (min-width: 768px) {
	.row .col-sm-6 img {
		width: 60vh;
		padding: 2vh 3vw;
		text-align: center;
	}
}


@media only screen and (min-width: 992px) {
	.row .col-sm-6 img {
		width: 100vh;
		padding: 2vh 9vw;
		text-align: center;
	}
}
 */

.text-contact a {
	text-decoration: none;
}

.ftco-section {
	padding: 7em 0;
	background-color: rgb(235, 235, 235);
}

.ftco-no-pt {
	padding-top: 0;
}

.ftco-no-pb {
	padding-bottom: 0;
}

.heading-section {
	font-size: 28px;
	color: #000;
}

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.form-control {
	height: 36px;
	background: #fff;
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	border-radius: 2px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, 0.3) !important;
}
.form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:-ms-input-placeholder {
	/* IE 0+ */
	color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:focus,
.form-control:active {
	border-color: #46b5d1 !important;
}

@media (max-width: 767.98px) {
	.info-wrap {
		height: 400px;
	}
}

.dbox {
	width: 100%;
	margin-bottom: 25px;
}
@media (max-width: 767.98px) {
	.dbox {
		margin-bottom: 25px !important;
		padding: 0 20px;
	}
}
.dbox p {
	margin-bottom: 0;
}
.dbox p span {
	font-weight: 500;
	color: #000;
}
.dbox p a {
	color: #6a4770;
}
.dbox .icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgb(143, 88, 88);
	margin: 0 auto;
	margin-bottom: 20px;
}
.dbox .icon span {
	font-size: 20px;
	color: #fff;
}
.dbox .text {
	width: 100%;
}

.btn {
	padding: 12px 16px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	-webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	position: relative;
	margin-bottom: 20px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn:hover,
.btn:active,
.btn:focus {
	outline: none !important;
}
.btn.btn-primary {
	background: #46b5d1 !important;
	border-color: #46b5d1 !important;
	color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
	border-color: #2d9bb7 !important;
	background: #2d9bb7 !important;
}

.contactForm .label {
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

.contactForm .form-control {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	border-radius: 0;
	padding: 5px 5px;
}

#contactForm .error {
	color: red;
	font-size: 12px;
}

#contactForm .form-control {
	font-size: 16px;
}

#message {
	resize: vertical;
}

#form-message-warning,
#form-message-success {
	display: none;
}

#form-message-warning {
	color: red;
}

#form-message-success {
	color: #28a745;
	font-size: 18px;
	font-weight: 500;
}

.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-size: 16px;
	font-weight: bold;
}
.form-group {
	padding-top: 30px;
}

/* @media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
} */
/* .col-md-5 .info-wrap img {
	max-width: fit-content;
	display: none;
} */ /* this doesn't target the image. find out what does */

.col-md-7 {
	background-color: white;
}

/* .team_pic {
	background: linear-gradient(rgba(2, 2, 2, 0.555), rgba(0, 0, 0, 0.65)),
		url("../images/kk6gav3ykek51 (2).jpg") fixed center center;
	background-size: fill;
	padding: 100px 0;
} */
* {
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 30pt;
	text-align: center;
	padding: 7vh 5vw;
}

.pricingTable {
	margin-top: 30px;
	text-align: center;
	position: relative;
}

.pricingTable .title {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background: rgb(117, 63, 63);
	transition: all 0.4s ease 0s;
}
.pricingTable .value {
	display: block;
	font-size: 35px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	background: rgb(117, 63, 63);
	transition: all 0.4s ease 0s;
}
.pricingTable:hover .title,
.pricingTable:hover .value {
	color: #fff;
}
.pricingTable .month {
	display: block;
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}
.pricingTable .content {
	border-left: 1px solid #f2f2f2;
	position: relative;
}
.pricingTable .content:after {
	content: "";
	width: 35px;
	height: 100%;
	background: #f8f8f8;
	box-shadow: 9px 9px 20px #ddd;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	transform: skewY(-45deg) translateY(-18px);
	transition: all 0.4s ease 0s;
}
.pricingTable .content ul {
	padding: 0;
	margin: 0 35px 0 0;
	list-style: none;
	background: #fff;
}
.pricingTable .content ul li {
	display: block;
	font-size: 15px;
	color: #333;
	line-height: 23px;
	padding: 11px 0;
	border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link {
	background: #fff;
	padding: 20px 0;
	margin-right: 35px;
	border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link a {
	display: inline-block;
	padding: 9px 20px;
	font-weight: 700;
	color: rgb(126, 55, 55);
	text-transform: uppercase;
	border: 1px solid rgb(128, 50, 50);
	background: #fff;
	transition: all 0.4s ease 0s;
}
.pricingTable:hover .link a {
	color: #fff;
	background: #002561;
	border: 1px solid #002561;
}
.pricingTable:hover .pricing_heading:after,
.pricingTable:hover .title,
.pricingTable:hover .value {
	background: #002561;
}
@media only screen and (max-width: 990px) {
	.pricingTable {
		margin-bottom: 35px;
	}
}
h2#pricing_heading {
	padding-top: 2.5em;
}
#pricing_table {
	padding-top: 7em;
	padding-bottom: 8em;
}

#links li a {
	text-decoration: none;
}
#services {
	padding-top: 5em;
}

#why {
	padding-top: 1em;
	padding-bottom: 1em;
}

.team#team {
	padding-bottom: 5vw;
}

.team .member {
	position: relative;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	padding: 30px;
	border-radius: 5px;
	background: #fff;
	transition: 0.5s;
}

.team .member .pic {
	overflow: hidden;
	width: 180px;
	border-radius: 50%;
}

.team .member .pic img {
	transition: ease-in-out 0.3s;
}

.team .member:hover {
	transform: translateY(-10px);
}

.team .member .member-info {
	padding-left: 30px;
}

.team .member h4 {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 20px;
	color: #37517e;
}

.team .member span {
	display: block;
	font-size: 15px;
	padding-bottom: 10px;
	position: relative;
	font-weight: 500;
}

.team .member span::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 1px;
	background: #cbd6e9;
	bottom: 0;
	left: 0;
}

.team .member p {
	margin: 10px 0 0 0;
	font-size: 14px;
}

.team .member .social {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.team .member .social a {
	transition: ease-in-out 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: 32px;
	height: 32px;
	background: #eff2f8;
	text-align: center;
	vertical-align: middle;
}

.team .member .social a i {
	color: #5d5d5d;
	font-size: 16px;
	margin: 0 2px;
	text-align: center;
	vertical-align: middle;
}

.team .member .social a:hover {
	background: #183e62;
}

.team .member .social a:hover i {
	color: #fff;
}

.team .member .social a + a {
	margin-left: 8px;
}
iframe {
	height: 500px;
	width: 500px;
}
@media only screen and (max-width: 1320px) {
	iframe {
		height: 500px;
		width: auto;
	}
}

@media only screen and (max-width: 768px) {
	iframe {
		height: 500px;
		width: 20em;
	}
}
