/* html,
body {
	max-width: 100%;
	overflow-x: hidden;
} */

html {
	scroll-behavior: smooth;
}

.carousel {
	position: fixed;
	width: 100%;
	z-index: -100;
	pointer-events: all;
}

.header_bg {
	height: 90vh;
	object-fit: cover;
	overflow: hidden;
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;
}
.transparent {
	background-image: none;
	background-color: rgba(36, 36, 36, 0.575);
	backdrop-filter: blur(10px);
}

.empty {
	height: 90vh;
	z-index: 0;
	pointer-events: all;
}
.navbar .container-fluid .navbar-brand img {
	height: 55px;
	padding: 0 0;
	margin: 0 0;
}

main {
	background-color: white;
	z-index: 200;
}
.empty h1 {
	font-size: 40pt;
	padding-top: 20vw;
	padding-left: 5vw;
}

#main_body .container#about .row h1 {
	font-size: 40pt;
	padding-top: 10vw;
	text-align: center;
}
.container#about {
	padding-bottom: 5vh;
}
button.header {
	font-size: large;
	transition: all 0.5s ease;
	color: #fff;
	border: 3px solid white;
	text-align: center;
	line-height: 1;
	background-color: transparent;
	padding: 10px;
	outline: none;
	border-radius: 4px;
	z-index: auto;
}
button.header:hover {
	color: #001f3f;
	background-color: #fff;
}
/* .container {
	display: inline-flexbox;
	justify-content: space-around;
	flex-wrap: nowrap;
	width: 100%;
	padding-right: 0;
	margin-right: 0;
	object-fit: fill;
	max-width: 100%;
	overflow-x: hidden;
} */

footer {
	z-index: +50;
	position: relative;
	background: linear-gradient(rgba(2, 2, 2, 0.609), rgba(0, 0, 0, 0.602)),
		url("../images/IMG_20201025_164026.jpg") fixed center center;
	background-size: fill;
}

.container .row > div > img {
	height: 23em;
}
.container .row > div > img#about {
	height: 35em;
}
.col-lg-4 img {
	padding: 4em 0;
}
.col-lg-4 {
	text-align: center;
}
#circular_photos {
	padding: 5em 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.col-lg-8 {
		padding: 0;
	}

	/* .col-lg-4 img {
		padding: 1vw 0;
	} */
	/* .col-lg-8 .lead {
		margin: 0 0;
	} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.col-lg-8 {
		padding: 0;
	}
	/* .col-lg-4 img {
		padding: 1vw 0;
	} */
	/* .col-lg-8 .lead {
		margin: 0 0;
	} */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.col-lg-8 {
		padding: 5em 0 0 6em;
		margin-right: 0;

		/* padding-right: 0; */
	}
	/* .col-lg-4 img {
		padding: 5vw 0;
	} */
	/* .col-lg-8 .lead {
		margin: 0 0 0 10vw;
	} */
}

button.main {
	font-size: large;
	transition: all 0.5s ease;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 0);
	text-align: center;
	line-height: 1;
	background-color: transparent;
	padding: 10px;
	outline: none;
	border-radius: 4px;
	z-index: auto;
}
button.main:hover {
	color: #ffffff;
	background-color: rgb(0, 0, 0);
}
.col-lg-8 h3 {
	padding: initial;
}

.bridge {
	background: linear-gradient(rgba(2, 2, 2, 0.555), rgba(0, 0, 0, 0.65)),
		url("../images/kk6gav3ykek51 (2).jpg") fixed center center;
	background-size: fill;
	padding: 100px 0;
}

.bridge h3,
.bridge p {
	color: #fff;
}

/* .wrapper {
	max-width: 100%;
	overflow-x: hidden;
} */
/* 
.row .col-sm-6 img {
	width: 60vh;
	padding: 2vh 3vw;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.row .col-sm-6 img {
		width: 60vh;
		padding: 2vh 3vw;
		text-align: center;
	}
}


@media only screen and (min-width: 768px) {
	.row .col-sm-6 img {
		width: 60vh;
		padding: 2vh 3vw;
		text-align: center;
	}
}


@media only screen and (min-width: 992px) {
	.row .col-sm-6 img {
		width: 100vh;
		padding: 2vh 9vw;
		text-align: center;
	}
}
 */

.text-contact a {
	text-decoration: none;
}

.ftco-section {
	padding: 7em 0;
	background-color: rgb(235, 235, 235);
}

.ftco-no-pt {
	padding-top: 0;
}

.ftco-no-pb {
	padding-bottom: 0;
}

.heading-section {
	font-size: 28px;
	color: #000;
}

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.form-control {
	height: 36px;
	background: #fff;
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	border-radius: 2px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, 0.3) !important;
}
.form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:-ms-input-placeholder {
	/* IE 0+ */
	color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:focus,
.form-control:active {
	border-color: #46b5d1 !important;
}

@media (max-width: 767.98px) {
	.info-wrap {
		height: 400px;
	}
}

.dbox {
	width: 100%;
	margin-bottom: 25px;
}
@media (max-width: 767.98px) {
	.dbox {
		margin-bottom: 25px !important;
		padding: 0 20px;
	}
}
.dbox p {
	margin-bottom: 0;
}
.dbox p span {
	font-weight: 500;
	color: #000;
}
.dbox p a {
	color: #6a4770;
}
.dbox .icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #693a6b;
	margin: 0 auto;
	margin-bottom: 20px;
}
.dbox .icon span {
	font-size: 20px;
	color: #fff;
}
.dbox .text {
	width: 100%;
}

.btn {
	padding: 12px 16px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	-webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
	position: relative;
	margin-bottom: 20px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn:hover,
.btn:active,
.btn:focus {
	outline: none !important;
}
.btn.btn-primary {
	background: #46b5d1 !important;
	border-color: #46b5d1 !important;
	color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
	border-color: #2d9bb7 !important;
	background: #2d9bb7 !important;
}

.contactForm .label {
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

.contactForm .form-control {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	border-radius: 0;
	padding: 5px 5px;
}

#contactForm .error {
	color: red;
	font-size: 12px;
}

#contactForm .form-control {
	font-size: 16px;
}

#message {
	resize: vertical;
}

#form-message-warning,
#form-message-success {
	display: none;
}

#form-message-warning {
	color: red;
}

#form-message-success {
	color: #28a745;
	font-size: 18px;
	font-weight: 500;
}

.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-size: 16px;
	font-weight: bold;
}
.form-group {
	padding-top: 30px;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
/* .col-md-5 .info-wrap img {
	max-width: fit-content;
	display: none;
} */ /* this doesn't target the image. find out what does */

.col-md-7 {
	background-color: white;
}

.team_pic {
	background: linear-gradient(rgba(2, 2, 2, 0.555), rgba(0, 0, 0, 0.65)),
		url("../images/kk6gav3ykek51 (2).jpg") fixed center center;
	background-size: fill;
	padding: 100px 0;
}
